*{
    margin: 0;
    padding:0;
}




table{
    text-align: center;
}

table thead{
    background-color: #000000;
}
tr{
    background-color: white;
}

th{
    color: black;
}

td{
    color: #000000;
}

.one{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:40rem;
}



.signin{
    background: #F85F6A;
    border-radius: 20rem;
    width:6rem;
    height:3rem;
    margin:1rem;
    margin-right: 4rem;
    border: none;
    cursor: pointer;
}



.signin-text{
    color: #ffffff;
}

.main{
    background-image: url('images/childLabour.png');
    height: 41.57rem;
    background-size: cover;
}

.logo{
    height: 30rem;
    position: absolute;
    left: -2rem;
    top: 10rem;

}

.tm{
    font-family: 'Denk One';
    font-size: 5.5rem;
    letter-spacing: 1mm;
    color: #F85F6A;
    position: absolute;
    top: 15rem;
    left:18.5rem;
}

.head{
    font-family: 'Della Respira';
    position: absolute;
    left: 20.5rem;
    font-family: 'Della Respira';
    position: absolute;
    top: 22.4rem;
    font-size: 1.5rem;
}

.rule{
    
    width: 21rem;
    position: absolute;
    top: 27.5rem;
    left: 18.5rem;
    background: #000000;
    height: 0.1rem;
    border: none;
}

.fa-diamond{
    position: absolute;
    top: 27.1rem;
    left: 38.8rem;
    color: #000000;
}

.first{
    font-family: 'Darker Grotesque';
    position: absolute;
    font-size: 1.5rem;
    top: 30rem;
    left: 20.7rem;
}

.second{
    font-family: 'Darker Grotesque';
    position: absolute;
    font-size: 1.5rem;
    top: 32rem;
    left: 20.7rem;
}

.previous,.next{
    cursor: pointer;
    
}

.previous{
    position: absolute;
    top: 24rem;
    left: 66.5rem;
    font-size: 2rem;
    color: #2b2721;
    
}

.next{
    position: absolute;
    left: 90rem;
    top: 24rem;
    font-size: 2rem;
    color: #2b2721;
}

.para{

    font-family: 'Mukta';
    font-size: 1.5rem;
    padding: 2rem;}


    
a{
    text-decoration: none;
}
.fa-brands{
    font-size: 2rem;
}

.social{
    display: flex;
    position: absolute;
    bottom: 1rem;
    justify-content: space-between;
    width: 20rem;
    left: 40%;
}

.fa-facebook{
    color: #258bc2;
}

.fa-youtube{
    color: #f91524;
}

.fa-twitter{
    color: #164cfd;
}

.fa-instagram{
    color: #f915c7;
}

.bars{
    display: none;
}


.map{
    color:#25d755;
    margin:1rem;
}


table thead{
    background-color: black;
    
  }

  table thead th {
      color: white;
  }
  
  .active {
    color: green; 
  }
  
  .inactive {
    color: red;

  }

  .child-image{
    width:50%;
    height: 10rem;
}

.image{
    width: 33%;
}

.nav-link{
    margin: 1.5rem;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #000000;
}

.brand{
    width: 5rem;
}

.carousel{
    width: 25rem;
    height: 20rem;
    background-color: #F85F6A;
    position: absolute;
    top:30%;
    left: 70%;
    border-radius: 2rem;
    opacity: 0.8;
    text-align: center;
}
form{
    
    margin: auto;
}

.inp{
    width:90%;
    height:4rem;
    margin: 1rem;
    background-color: white;
    opacity: 1;
    border-style: none;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #000000;
    
}

.sub{
    margin-top: 2rem;
    width: 80%;
    height: 4.2rem;
    border-style: none;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: #258bc2;
    font-size: 1.5rem;
    cursor:pointer;
}

.inp::placeholder{
    font-weight: bold;
    position: relative;
    left: 5%;
}


  
#admin-id{
    margin-top: 2rem;

    
}
  /** 600px or less**/

  
  @media only screen and (max-width: 800px) {

    
    
    .nav-link{
        margin: 0;
    }
  
    .brand{
        display: none;
    }

        table.responsiveTable,
        tbody,
        tr,
        td {
          display: block;
        }
      
        table.responsiveTable thead {
          display: none;
        }

        
      
        table.responsiveTable tbody tr,
        table.responsiveTable thead tr:last-child {
          display: block;
          overflow-y: hidden;
          margin: 2px;
          height: inherit;
          margin-bottom: 10px;
          border: none;
          box-shadow:
            0px 1px 5px 0px rgba(0, 0, 0, 0.2),
            0px 2px 2px 0px rgba(0, 0, 0, 0.14),
            0px 3px 1px -2px rgba(0, 0, 0, 0.12);
          border-radius: 4px;
        }
      
        table.responsiveTable tbody tr td,
        table.responsiveTable thead tr:last-child th {
          border: none;
          position: relative;
          padding-left: 50%;
          padding-right: 10px;
          text-align: left;
        }
      
        table.responsiveTable tbody tr td:before,
        table.responsiveTable thead tr:last-child th:before {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          height: 100%;
          width: 45%;
          padding-top: inherit;
          padding-right: 5px;
          padding-left: 5px;
          padding-bottom: inherit;
          white-space: nowrap;
        }

        .table td::before{
            content: attr(data-label);
            position: absolute;
            left: 0;

        }

        .navbar{
            flex-direction: column;
        }

        .one{
            flex-direction: column;
        }

        .logo{
            display: none;
        }
         .flexbox{
             flex-direction: column;
             align-items: center;
         }
         .tm{
             font-size: 4rem;
             text-align: center;
             position: relative;
             top: 2rem;
             left: 1rem;
         }
         .head{
            font-size: 1rem;
            text-align: center;
            position: relative;
            top: 2rem;
            left: 1rem;
         }

         .first{
             font-size: 1.5rem;
             text-align: center;
            position: relative;
            top: 3rem;
            left: 1rem;
         }
         .second{
            font-size: 1.5rem;
            text-align: center;
           position: relative;
           top: 3rem;
           left: 1rem;
         }

         .carousel{
            width: 70%;
            
            position: absolute;
            left: 18%;
            top: 48%;
            text-align: center;
         }

         .social{
             position: absolute;
             bottom: 0rem;
             left: 5rem;
             display: none;

         }

         .rule{
             position: auto;
             left: 5rem;
        
             display: none;
         }
         .fa-diamond{
             position: absolute;
             left:4rem ;
             display: none;
               }

        .previous{
            position: absolute;
            top: 5.5rem;
            left: -1rem;
        }

        .next{
            position: absolute;
            top: 5.5rem;
            left: 19rem;
        }

        .navbar{
            display: none;
        }

        .main{
            background-size: cover;
        }
       
        .fa-bars{
            display: block;
        }

        .ultimate{
           text-align: center;
        }
      }
  

  